@font-face {
  font-family: Shrikhand;
  src: url('./assets/fonts/Shrikhand/Shrikhand-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: Quicksand;
  src: url('./assets/fonts/Quicksand/Quicksand-Regular.ttf');
  font-weight: 200;
}

:root {
  --principal: #bf4c41;
  --background: #fcc0c5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  font-family: 'Shrikhand', sans-serif;
}

p, a, li, button, ul {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

.text-principal {
  color: var(--principal);
}

.header {
  height: 100vh;
}

.link-header{
  width: 128px;
}

.btn-header{
  color: var(--principal);
}

.btn-header:hover{
  color: #ffffff;
  background-color: var(--principal);
}

.line-bottom{
  border-bottom: 1px solid var(--principal);
  width: auto;
}

.btn-navbar{
  color: var(--background);
  background-color: var(--principal);
}

.btn-navbar:hover{
  color: var(--principal);
}